<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ready to practice? We just need microphone access to get started.</string>
	<key>NSCameraUsageDescription</key>
	<string>Momentum uses the camera to capture photos for your moments.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Momentum needs access to your photo library to attach media to your moments.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Momentum uses your location to geotag your moments.</string>
</dict>
</plist>
